### def keyword

In [1]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's document string (DocString) goes.
    When you call help() on your function, this will get printed out
    '''
    
    pass

You should avoid built-in functions : https://docs.python.org/3/library/functions.html

In [2]:
help(name_of_function)

Help on function name_of_function in module __main__:

name_of_function(arg1, arg2)
    This is where the function's document string (DocString) goes.
    When you call help() on your function, this will get printed out

###### Simple Example of a function

In [4]:
def say_hello():
    print('hello')

In [5]:
say_hello()

hello

In [6]:
say_hello

###### Functions Accepting Parameters/Arguments

In [10]:
def say_gm(name = 'whoever you are'):
    print(f'Good Morning {name} !!')

In [11]:
say_gm(name='Virat')

Good Morning Virat !!

In [12]:
say_gm()

Good Morning whoever you are !!

###### Using a Return

In [13]:
def add_num(n1,n2):
    return n1 + n2

In [14]:
add_num(23,74)

97

In [15]:
def print_add_num(n1,n2):
    print(n1 + n2)

In [16]:
print_add_num(23,74)

97

In [17]:
v1 = add_num(23,74)

In [18]:
v1

97

In [19]:
type(v1)

int

In [20]:
v2 = print_add_num(23,74)

97

In [21]:
v2

In [22]:
type(v2)

NoneType

In [23]:
print_add_num(23,74)

97

* One function, One return keyword but mutiple print statements

In [25]:
def print_add_multiply_num(n1,n2):
    print(n1 + n2)
    print(n1*n2)

In [26]:
print_add_multiply_num(2,8)

10
16

In [27]:
def add_multiply_num(n1,n2):
    return n1 + n2
return n1*n2

SyntaxError: 'return' outside function (3150818852.py, line 3)

In [30]:
def print_add_multiply_num(n1,n2):
    print(n1 + n2)
    print(n1*n2)
    return f'The sum of numbers is {n1+n2} and multiplication is {n1*n2}'

In [32]:
v3 = print_add_multiply_num(3,4)

7
12

In [33]:
type(v3)

str

In [34]:
v3

'The sum of numbers is 7 and multiplication is 12'

###### Adding Logic to Functions

In [35]:
def even_check(number):
    return number%2 == 0

In [36]:
even_check(109)

False

In [37]:
even_check(100)

True

###### Check if any number in a list is even

In [39]:
def check_even_list(num_list):
    for num in num_list:
        if num%2 == 0:
            return True

In [40]:
check_even_list([1,2,3])

True

In [43]:
check_even_list([1,3,5,11,13])

In [44]:
#THIS IS WRONG
def check_even_list(num_list):
    for num in num_list:
        if num%2 == 0:
            return True
        else:
            return False

In [45]:
check_even_list([1,2,3])

False

In [46]:
#CORRECT APPROACH

def check_even_list(num_list):
    for num in num_list:
        if num %2 ==0:
            return True
        else:
            pass
    return False

In [47]:
check_even_list([1,2,3])

True

In [48]:
check_even_list([1,3,5,7,9])

False

###### Return all even numbers in a list

In [51]:
def check_even_numbers(num_list):
    even_numbers = []
    
    for number in num_list:
        if number%2 == 0:
            even_numbers.append(number)
        else:
            pass
    if len(even_numbers) > 0:
        return even_numbers
    else:
        return 'There are no even numbers in the list'

In [52]:
check_even_numbers([11,22,33,44,56,32,45,78,97,109,106,398])

[22, 44, 56, 32, 78, 106, 398]

In [53]:
check_even_numbers([11,13,15,23,35,39])

'There are no even numbers in the list'

In [54]:
def check_odd_numbers(num_list):
    odd_numbers = []
    
    for number in num_list:
        if number%2 == 1:
            odd_numbers.append(number)
        else:
            pass
    if len(odd_numbers) > 0:
        return odd_numbers
    else:
        return 'There are no odd numbers in the list'

In [55]:
check_odd_numbers([11,22,33,44,56,32,45,78,97,109,106,398])

[11, 33, 45, 97, 109]

In [56]:
check_odd_numbers([2,4,6,8])

'There are no odd numbers in the list'

#### Returning Tuples for Unpacking

In [58]:
def top_employee(wh):
    
    #Set a max value to beat
    current_max = 0
    
    #set some empty string before the loop
    employee_of_month = ''
    
    for emp, hr in wh:
        if hr > current_max:
            current_max = hr
            employee_of_month = emp
        else:
            pass
        
    return f'The employee of the month is {employee_of_month} with {current_max} hours.'

In [63]:
work_hours = [('Akash',100),('Bob',150),('Chetan',300),('Dipika',450),('R',1000)]

In [64]:
top_employee(wh = work_hours)

'The employee of the month is R with 1000 hours.'

###### Write a function that takes a two-word string and returns True if both words begin with same letter

In [65]:
'hello world'.split()

['hello', 'world']

In [70]:
def same_letter_words(text):
    if type(text) == str:
        if len(text.split()) == 2:
            word_list = text.split()
            return word_list[0].lower()[0] == word_list[1].lower()[0]
        else:
            return 'Only two worded strings are allowed'    
    else:
        return 'Enter string only'

In [67]:
same_letter_words(78912)

'Enter string only'

In [71]:
same_letter_words('Hello how are you')

'Only two worded strings are allowed'

In [72]:
same_letter_words('Hello how')

True

In [73]:
same_letter_words('Levelheaded Llama')

True

In [74]:
same_letter_words('Crazy kangaroo')

False

1. Write a function that captalizaed the first and fourth letters of a name
2. Given a sentence, return a sentence with the words reversed (I am there -->> there am I)
3. Given a list of integers, return True if the array contains a 3 right next to a 3

In [4]:
#1
def capitalize(name):
    if len(name) > 3: # and len(name.split()) <2:
        return name[:3].capitalize()+name[3:].capitalize()
    else:
        return 'Name is too short or !!'

In [5]:
capitalize('Shreyas')

'ShrEyas'

In [6]:
capitalize('Shreyas Shukla')

'ShrEyas shukla'

In [9]:
' '.join('I am there'.split()[::-1])

'there am I'

In [12]:
#2
def reverse_sentence(sen):
    if type(sen) == str:
        return ' '.join(sen.split()[::-1])
    else:
        return 'Only strings are allowed'

In [13]:
reverse_sentence('Where are you?')

'you? are Where'

In [15]:
reverse_sentence('945 hi hello')

'hello hi 945'

In [32]:
#3

def has_33(nums):
    for i in range(0,len(nums)):
        #if nums[i] == 3 and nums[i+1] == 3:
        
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [33]:
has_33([1,3,3,4,5])

True

In [34]:
has_33([1,3,4,5])

False

In [35]:
has_33([1,4,1,5,3])

False

In [36]:
has_33([3,3,4,5])

True

###### Write a function that returns the number of prime numbers that exist up to and including the given number

In [40]:
def find_prime(LL_number,UL_number):
    '''
    This function give the list of all the prime numbers between any two numbers
    '''
    if type(LL_number) == int and type(UL_number) == int:
        for num in range(LL_number,UL_number):
            if num == 2:
                print(f"The number {num} is a EVEN PRIME")
            elif num %2 == 0:
                print(f"The number {num} is a EVEN")
            else:
                is_prime = True
                for i in range(2,num):
                    if num % i == 0:
                        is_prime = False
                        break
                if is_prime == True and num != 1: #1 is not prime
                    print(f"The number {num} is a ODD PRIME")
                else:
                    print(f"The number {num} is a ODD")
                    
    else:
        return 'Enter Integers only'

In [39]:
find_prime(23,100)

The number 23 is a ODD PRIME
The number 24 is a EVEN
The number 25 is a ODD
The number 26 is a EVEN
The number 27 is a ODD
The number 28 is a EVEN
The number 29 is a ODD PRIME
The number 30 is a EVEN
The number 31 is a ODD PRIME
The number 32 is a EVEN
The number 33 is a ODD
The number 34 is a EVEN
The number 35 is a ODD
The number 36 is a EVEN
The number 37 is a ODD PRIME
The number 38 is a EVEN
The number 39 is a ODD
The number 40 is a EVEN
The number 41 is a ODD PRIME
The number 42 is a EVEN
The number 43 is a ODD PRIME
The number 44 is a EVEN
The number 45 is a ODD
The number 46 is a EVEN
The number 47 is a ODD PRIME
The number 48 is a EVEN
The number 49 is a ODD
The number 50 is a EVEN
The number 51 is a ODD
The number 52 is a EVEN
The number 53 is a ODD PRIME
The number 54 is a EVEN
The number 55 is a ODD
The number 56 is a EVEN
The number 57 is a ODD
The number 58 is a EVEN
The number 59 is a ODD PRIME
The number 60 is a EVEN
The number 61 is a ODD PRIME
The number 62 is a EVEN
The number 63 is a ODD
The number 64 is a EVEN
The number 65 is a ODD
The number 66 is a EVEN
The number 67 is a ODD PRIME
The number 68 is a EVEN
The number 69 is a ODD
The number 70 is a EVEN
The number 71 is a ODD PRIME
The number 72 is a EVEN
The number 73 is a ODD PRIME
The number 74 is a EVEN
The number 75 is a ODD
The number 76 is a EVEN
The number 77 is a ODD
The number 78 is a EVEN
The number 79 is a ODD PRIME
The number 80 is a EVEN
The number 81 is a ODD
The number 82 is a EVEN
The number 83 is a ODD PRIME
The number 84 is a EVEN
The number 85 is a ODD
The number 86 is a EVEN
The number 87 is a ODD
The number 88 is a EVEN
The number 89 is a ODD PRIME
The number 90 is a EVEN
The number 91 is a ODD
The number 92 is a EVEN
The number 93 is a ODD
The number 94 is a EVEN
The number 95 is a ODD
The number 96 is a EVEN
The number 97 is a ODD PRIME
The number 98 is a EVEN
The number 99 is a ODD

In [41]:
def count_prime(num):
    primes = [2]
    x = 3
    
    if num < 2:
        return 0
    while x <= num:
        for y in range(3,x,2): #test all odd factors up to x-1
            if x%y == 0:
                x = x+2
                break
        else:
            primes.append(x)
            x = x+2
    print(primes)
    return len(primes)

In [42]:
count_prime(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

###### Create a function factorial that computes the factorial of a given number n using a for loop

In [45]:
def factorial(n):
    result = 1
    for i in range(1,n+1):
        result = result * i
    return result

In [47]:
factorial(5)

120