### Map Function

In [1]:
def sq(num):
    return num**2

In [2]:
sq(3)

9

In [3]:
[1,2,3,4]

[1, 2, 3, 4]

In [8]:
[sq(num) for num in [1,2,3,4,5,6,7,8]]

[1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
nums = [1,2,3,4,5,6,7,8]

In [6]:
map(sq,nums)

In [7]:
list(map(sq,nums))

[1, 4, 9, 16, 25, 36, 49, 64]

In [9]:
def odd_even_len(string):
    if len(string)%2 == 0:
        return 'even'
    else:
        return len(string)

In [14]:
l1 = ['John','bob','Sarah','Rohit','Kelly','Aakash','Vikas','Prakash','Sachin']

In [15]:
list(map(odd_even_len,l1))

['even', 3, 5, 5, 5, 'even', 5, 7, 'even']

### Filter Function


Returns a n iterator yielding those items of iterable for which function is True

In [19]:
def check_odd(name):
    return len(name)%2 == 1

In [21]:
check_odd('Sachin')

False

In [23]:
list(filter(check_odd,l1))

['bob', 'Sarah', 'Rohit', 'Kelly', 'Vikas', 'Prakash']

###### Lambda Expressions

* One liner anonymuous functions

In [24]:
def cube1(num):
    '''This function return cube of a number'''
    result = num**3
    return result

In [25]:
cube1(3)

27

In [30]:
def cube11(num):
    return num**3

In [31]:
cube11(4)

64

In [34]:
def cube111(num): return num**3 #This is what lambda expressions is trying to do

In [33]:
cube111(6)

216

In [35]:
lambda num : num ** 3

In [36]:
cube_lambda = lambda num : num ** 3

In [37]:
cube_lambda(4)

64

In [38]:
list(map(lambda x : x**2 ,nums))

[1, 4, 9, 16, 25, 36, 49, 64]

In [39]:
list(filter(lambda name: len(name)%2 == 1,l1))

['bob', 'Sarah', 'Rohit', 'Kelly', 'Vikas', 'Prakash']

In [43]:
list(map(lambda name : name[::-1],['Shreyas','Shukla','Sachin','Sharma']))

['sayerhS', 'alkuhS', 'nihcaS', 'amrahS']

s = ['DAPP','Shreyas','IITr','Roorkee','RBPL']

1. Grab the first character of all the strings in this list
2. Upper case all the names
3. Output the length of al the names
4. Take a list of numbers and return a list of all the palindromic numbers from that list.
* [112,456,767,898,334,554,226,984] -->> [767,898]

In [44]:
s = ['DAPP','Shreyas','IITr','Roorkee','RBPL']

In [47]:
#1
list(map(lambda x: x[0],s))

['D', 'S', 'I', 'R', 'R']

In [48]:
#2
list(map(lambda x: x.upper(),s))

['DAPP', 'SHREYAS', 'IITR', 'ROORKEE', 'RBPL']

In [49]:
#3
list(map(lambda x: len(x),s))

[4, 7, 4, 7, 4]

In [52]:
#4
list(filter(lambda n1 : str(n1)[::-1] == str(n1), [112,456,767,898,334,554,226,984]))

[767, 898]

In [53]:
#5 Output the words that start with a vowel


ls = ['elephant','Artificial Intelligence','bear','apple','hello','bye','Alaska','agra']

In [56]:
list(filter(lambda w : w[0].lower() in 'aeiou',ls))

['elephant', 'Artificial Intelligence', 'apple', 'Alaska', 'agra']