* Oldest method: modulo (%) character method
* .format method
* formatted string literals (f-literals)

In [1]:
#%s to inject strings into print statements

print("I'm going to inject %s here" %'some random string')

I'm going to inject some random string here

In [6]:
print("I'm going to inject %s here and %s here" %('some', '\nanother'))

I'm going to inject some here and
another here

In [4]:
first_name = 'Shreyas'
last_name = 'Shukla'

print('His full name is %s %s' %(last_name,first_name))

His full name is Shukla Shreyas

In [7]:
#%r

print("I'm going to inject %s here and %r here" %('some', '\nanother'))

I'm going to inject some here and '\nanother' here

In [9]:
#%d : converts numbers to integers first, without rounding

print('I wrote %s lines today' %3.75)
print('I wrote %d lines today' %3.75)

I wrote 3.75 lines today
I wrote 3 lines today

###### Padding and Precision of Floating point numbers


* %5.2f : 5 would be min no of characters the string should contain,
* .2f stands for how many numbers to show past the decimal point

In [10]:
print('My floating point number is: %5.2f' %(13.155))

My floating point number is: 13.15

In [14]:
print('My floating point number is: %25.14f' %(13.155))

My floating point number is:         13.15500000000000

In [15]:
print('My string is %s, My floating point number is %5.2f and my raw text is %r' %('Hi!!',3.134567, 'Bye!!'))

My string is Hi!!, My floating point number is  3.13 and my raw text is 'Bye!!'

###### .format method

In [16]:
print('This is a string with an {}'.format('inserted value'))

This is a string with an inserted value

In [18]:
print('I have {}, {} and {}'.format('cat','dog','cow'))

I have cat, dog and cow

In [19]:
print('I have {2}, {0} and {1}'.format('cat','dog','cow'))

I have cow, cat and dog

In [20]:
a1 = 'cat'
a2 = 'dog'
a3 = 'cow'


print('I have {2}, {0} and {1}'.format(a3,a2,a1))

I have cat, cow and dog

###### f-strings

In [22]:
first_name = 'Shreyas'
last_name = 'Shukla'

print('His full name is %s %s' %(last_name,first_name))

His full name is Shukla Shreyas

In [25]:
first_name = 'Shreyas'
last_name = 'Shukla'

print(f'His full name is {first_name} {last_name.upper()} and his first name has {len(first_name)} characters')

His full name is Shreyas SHUKLA and his first name has 7 characters

In [24]:
len(first_name)

7

In [29]:
print(f'His name is {first_name!r}')

His name is 'Shreyas'