### Constructing Tuples

In [6]:
#Create a Tuple
t = (1,2,3)

In [7]:
type(t)

tuple

In [17]:
t1 = ('one',2,('hi','hello'), {'k1':'Shreyas'})

In [9]:
t1[-1]

{'k1': 'Shreyas'}

In [10]:
t1[1:]

(2, ('hi', 'hello'), {'k1': 'Shreyas'})

##### Immutability

In [18]:
t1[0] = 'change'

TypeError: 'tuple' object does not support item assignment

In [19]:
t1

('one', 2, ('hi', 'hello'), {'k1': 'Shreyas'})

In [20]:
t1.append('two')

AttributeError: 'tuple' object has no attribute 'append'

In [21]:
t1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [22]:
t1 = ('one',2,('hi','hello'), {'k1':'Shreyas'},'one',2,'one')

In [23]:
t1.count('one')

3

In [25]:
t1.index(('hi','hello'))

2