In [33]:
import numpy as np
import pandas as pd

#### Creating a Series from Python Objects

In [34]:
#help(pd.Series)

###### Index and Data Lists

In [35]:
myindex = ['USA','Canada','Mexico','India']

In [36]:
mydata = [1776,1867,1821,1947]

In [37]:
pd.Series(data=mydata)

0    1776
1    1867
2    1821
3    1947
dtype: int64

In [38]:
pd.Series(data=mydata,index=myindex)

USA       1776
Canada    1867
Mexico    1821
India     1947
dtype: int64

###### Index List and Data Numpy Array

In [39]:
ran_data = np.random.randint(1,80,4)
ran_data

array([38, 32, 65,  1])

In [40]:
index = ['Akash','Bob','Chetan','David']

In [41]:
ages = pd.Series(ran_data,index)
ages

Akash     38
Bob       32
Chetan    65
David      1
dtype: int64

In [42]:
ages = pd.Series(index,ran_data)
ages

38     Akash
32       Bob
65    Chetan
1      David
dtype: object

In [43]:
ages = pd.Series(index =index,data=ran_data)
ages

Akash     38
Bob       32
Chetan    65
David      1
dtype: int64

In [44]:
ages = pd.Series(data=ran_data,index =index)
ages

Akash     38
Bob       32
Chetan    65
David      1
dtype: int64

###### From a Dictionary

In [45]:
ages_alt ={'Rohit':5,
          'Maddy':10,
          'Virat':20}

In [46]:
pd.Series(ages_alt)

Rohit     5
Maddy    10
Virat    20
dtype: int64

#### Key Ideas of a Series

In [47]:
q1 = {'Japan' : 80, 'China':450, 'India':200, 'USA':250}
q2 = {'Brazil':120, 'China':500,'India':280,'USA':300}

In [48]:
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [49]:
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [50]:
sales_Q1['Japan']

80

In [51]:
sales_Q1[0]

/var/folders/wl/v3x3g82n3b38s3cvwvtr0r7h0000gn/T/ipykernel_10227/832806364.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_Q1[0]

80

In [52]:
sales_Q1.iloc[0]

80

###### Operations

In [53]:
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [54]:
sales_Q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [55]:
sales_Q1*2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [56]:
sales_Q1/2

Japan     40.0
China    225.0
India    100.0
USA      125.0
dtype: float64

In [57]:
sales_Q1**(1/2)

Japan     8.944272
China    21.213203
India    14.142136
USA      15.811388
dtype: float64

###### Between the Series

In [58]:
sales_Q1 + sales_Q2

Brazil      NaN
China     950.0
India     480.0
Japan       NaN
USA       550.0
dtype: float64

In [61]:
sales_Q1.add(sales_Q2,fill_value=0)

Brazil    120.0
China     950.0
India     480.0
Japan      80.0
USA       550.0
dtype: float64