In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
agri_df = pd.read_csv('India Agriculture Crop Production.csv')
agri_df.sample(15)

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
64872,Madhya Pradesh,TIKAMGARH,Turmeric,2006-07,Whole Year,89.0,Hectare,87.00,Tonnes,0.977528
16818,Karnataka,DAKSHIN KANNAD,Rice,2001-02,Kharif,34278.0,Hectare,74077.00,Tonnes,2.161065
154727,Madhya Pradesh,VIDISHA,Sannhamp,2011-12,Kharif,7.0,Hectare,11.00,Tonnes,1.571429
246884,Kerala,IDUKKI,Coconut,2017-18,Whole Year,15858.0,Hectare,63000000.00,Nuts,3972.758229
155623,Madhya Pradesh,GUNA,Urad,2011-12,Kharif,3640.0,Hectare,1551.00,Tonnes,0.426099
147062,Karnataka,BIDAR,Coriander,2011-12,Whole Year,276.0,Hectare,73.00,Tonnes,0.264493
90283,Bihar,GAYA,Arhar/Tur,2007-08,Kharif,2190.0,Hectare,2967.00,Tonnes,1.354795
88271,Assam,DARRANG,Ginger,2007-08,Whole Year,257.0,Hectare,1703.00,Tonnes,6.626459
102748,Karnataka,CHIKBALLAPUR,Onion,2008-09,Rabi,269.0,Hectare,1796.00,Tonnes,6.676580
289594,Nagaland,TUENSANG,Sunflower,2019-20,Kharif,80.0,Hectare,70.00,Tonnes,0.875000
312721,Haryana,PANIPAT,Wheat,2000-01,Rabi,82626.0,Hectare,391000.00,Tonnes,4.732167
116502,Rajasthan,DUNGARPUR,Cotton(lint),2009-10,Kharif,423.0,Hectare,858.48,Bales,2.029504
21445,Madhya Pradesh,SATNA,Sesamum,2002-03,Kharif,2007.0,Hectare,258.00,Tonnes,0.128550
200512,Madhya Pradesh,TIKAMGARH,Urad,2013-14,Rabi,51.0,Hectare,9.00,Tonnes,0.176471
253352,Maharashtra,WASHIM,Sesamum,2017-18,Kharif,235.0,Hectare,44.00,Tonnes,0.187234

In [4]:
agri_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345407 entries, 0 to 345406
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             345407 non-null  object
 1   District          345407 non-null  object
 2   Crop              345375 non-null  object
 3   Year              345407 non-null  object
 4   Season            345406 non-null  object
 5   Area              345374 non-null  float64
 6   Area Units        345407 non-null  object
 7   Production        340414 non-null  float64
 8   Production Units  345407 non-null  object
 9   Yield             345374 non-null  float64
dtypes: float64(3), object(7)
memory usage: 26.4+ MB

In [5]:
agri_df.isnull().sum()

State                  0
District               0
Crop                  32
Year                   0
Season                 1
Area                  33
Area Units             0
Production          4993
Production Units       0
Yield                 33
dtype: int64

#### Exploratory Data Analysis

###### Unique count and values for Crops, States and District

In [8]:
unique_crop_list = agri_df['Crop'].unique()

print(f"Total number of unique crops - {len(unique_crop_list)}\nTheir names are\n{unique_crop_list}")

Total number of unique crops - 57
Their names are
['Arecanut' 'Banana' 'Black pepper' 'Cashewnut' 'Coconut' 'Dry chillies'
 'Ginger' 'Other Kharif pulses' 'other oilseeds' 'Rice' 'Sugarcane'
 'Sweet potato' 'Arhar/Tur' 'Bajra' 'Castor seed' 'Coriander'
 'Cotton(lint)' 'Gram' 'Groundnut' 'Horse-gram' 'Jowar' 'Linseed' 'Maize'
 'Mesta' 'Moong(Green Gram)' 'Niger seed' 'Onion' 'Other Rabi pulses'
 'Potato' 'Ragi' 'Rapeseed &Mustard' 'Safflower' 'Sesamum' 'Small millets'
 'Soyabean' 'Sunflower' 'Tapioca' 'Tobacco' 'Turmeric' 'Urad' 'Wheat'
 'Oilseeds total' 'Jute' 'Masoor' 'Peas & beans (Pulses)' 'Barley'
 'Garlic' 'Khesari' 'Sannhamp' 'Guar seed' 'Moth' 'Cardamom'
 'Other Cereals' 'Cowpea(Lobia)' 'Dry Ginger' 'Other Summer Pulses' nan]

In [9]:
unique_state_list = agri_df['State'].unique()

print(f"Total number of unique States - {len(unique_state_list)}\nTheir names are\n{unique_state_list}")

Total number of unique States - 36
Their names are
['Andaman and Nicobar Islands' 'Andhra Pradesh' 'Arunachal Pradesh'
 'Assam' 'Bihar' 'Chandigarh' 'Chhattisgarh' 'Dadra and Nagar Haveli'
 'Daman and Diu' 'Delhi' 'Goa' 'Gujarat' 'Haryana' 'Himachal Pradesh'
 'Jammu and Kashmir' 'Jharkhand' 'Karnataka' 'Kerala' 'Madhya Pradesh'
 'Maharashtra' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Tripura'
 'Uttar Pradesh' 'Uttarakhand' 'West Bengal' 'Telangana' 'Laddakh']

In [10]:
unique_district_list = agri_df['District'].unique()

print(f"Total number of unique Districts - {len(unique_district_list)}\nTheir names are\n{unique_district_list}")

Total number of unique Districts - 729
Their names are
['NICOBARS' 'NORTH AND MIDDLE ANDAMAN' 'SOUTH ANDAMANS' 'ANANTAPUR'
 'EAST GODAVARI' 'KRISHNA' 'VIZIANAGARAM' 'WEST GODAVARI' 'ADILABAD'
 'CHITTOOR' 'GUNTUR' 'KADAPA' 'KARIMNAGAR' 'KHAMMAM' 'KURNOOL'
 'MAHBUBNAGAR' 'MEDAK' 'NALGONDA' 'NIZAMABAD' 'PRAKASAM' 'RANGAREDDI'
 'SPSR NELLORE' 'SRIKAKULAM' 'VISAKHAPATANAM' 'WARANGAL' 'CHANGLANG'
 'DIBANG VALLEY' 'EAST KAMENG' 'EAST SIANG' 'KURUNG KUMEY' 'LOHIT'
 'LOWER DIBANG VALLEY' 'LOWER SUBANSIRI' 'PAPUM PARE' 'TAWANG' 'TIRAP'
 'UPPER SIANG' 'UPPER SUBANSIRI' 'WEST KAMENG' 'WEST SIANG' 'BARPETA'
 'BONGAIGAON' 'CACHAR' 'DARRANG' 'DHEMAJI' 'DHUBRI' 'DIBRUGARH'
 'DIMA HASAO' 'GOALPARA' 'GOLAGHAT' 'HAILAKANDI' 'JORHAT' 'KAMRUP'
 'KARBI ANGLONG' 'KARIMGANJ' 'KOKRAJHAR' 'LAKHIMPUR' 'MARIGAON' 'NAGAON'
 'NALBARI' 'SIVASAGAR' 'SONITPUR' 'TINSUKIA' 'ARARIA' 'ARWAL' 'AURANGABAD'
 'BANKA' 'BEGUSARAI' 'BHAGALPUR' 'BHOJPUR' 'BUXAR' 'DARBHANGA' 'GAYA'
 'GOPALGANJ' 'JAMUI' 'JEHANABAD' 'KAIMUR (BHABUA)' 'KATIHAR' 'KHAGARIA'
 'KISHANGANJ' 'LAKHISARAI' 'MADHEPURA' 'MADHUBANI' 'MUNGER' 'MUZAFFARPUR'
 'NALANDA' 'NAWADA' 'PASHCHIM CHAMPARAN' 'PATNA' 'PURBI CHAMPARAN'
 'PURNIA' 'ROHTAS' 'SAHARSA' 'SAMASTIPUR' 'SARAN' 'SHEIKHPURA' 'SHEOHAR'
 'SITAMARHI' 'SIWAN' 'SUPAUL' 'VAISHALI' 'CHANDIGARH' 'BASTAR' 'BILASPUR'
 'DANTEWADA' 'DHAMTARI' 'DURG' 'JANJGIR-CHAMPA' 'JASHPUR' 'KABIRDHAM'
 'KANKER' 'KORBA' 'KOREA' 'MAHASAMUND' 'RAIGARH' 'RAIPUR' 'RAJNANDGAON'
 'SURGUJA' 'DADRA AND NAGAR HAVELI' 'Daman and Diu' 'Delhi' 'Goa'
 'AHMADABAD' 'AMRELI' 'ANAND' 'BANAS KANTHA' 'BHARUCH' 'BHAVNAGAR' 'DANG'
 'DOHAD' 'GANDHINAGAR' 'JAMNAGAR' 'JUNAGADH' 'KACHCHH' 'KHEDA' 'MAHESANA'
 'NARMADA' 'NAVSARI' 'PANCH MAHALS' 'PATAN' 'PORBANDAR' 'RAJKOT'
 'SABAR KANTHA' 'SURAT' 'SURENDRANAGAR' 'VADODARA' 'VALSAD' 'AMBALA'
 'BHIWANI' 'FARIDABAD' 'FATEHABAD' 'GURGAON' 'HISAR' 'JHAJJAR' 'JIND'
 'KAITHAL' 'KARNAL' 'KURUKSHETRA' 'MAHENDRAGARH' 'PANCHKULA' 'PANIPAT'
 'REWARI' 'ROHTAK' 'SIRSA' 'SONIPAT' 'YAMUNANAGAR' 'KANGRA' 'KULLU'
 'MANDI' 'SHIMLA' 'SOLAN' 'UNA' 'CHAMBA' 'HAMIRPUR' 'SIRMAUR' 'KINNAUR'
 'LAHUL AND SPITI' 'DODA' 'JAMMU' 'KATHUA' 'RAJAURI' 'UDHAMPUR' 'KARGIL'
 'LEH LADAKH' 'SRINAGAR' 'BADGAM' 'BARAMULLA' 'POONCH' 'PULWAMA'
 'ANANTNAG' 'KUPWARA' 'CHATRA' 'DUMKA' 'GARHWA' 'GODDA' 'GUMLA'
 'HAZARIBAGH' 'KODERMA' 'LATEHAR' 'LOHARDAGA' 'PAKUR' 'PALAMU' 'RANCHI'
 'SAHEBGANJ' 'SARAIKELA KHARSAWAN' 'SIMDEGA' 'WEST SINGHBHUM' 'BOKARO'
 'DEOGHAR' 'DHANBAD' 'EAST SINGHBUM' 'GIRIDIH' 'JAMTARA' 'BAGALKOT'
 'BANGALORE RURAL' 'BELGAUM' 'BELLARY' 'BENGALURU URBAN' 'CHAMARAJANAGAR'
 'CHIKMAGALUR' 'CHITRADURGA' 'DAKSHIN KANNAD' 'DAVANGERE' 'DHARWAD'
 'GADAG' 'HASSAN' 'HAVERI' 'KODAGU' 'KOLAR' 'MANDYA' 'MYSORE' 'SHIMOGA'
 'TUMKUR' 'UDUPI' 'UTTAR KANNAD' 'BIDAR' 'BIJAPUR' 'GULBARGA' 'KOPPAL'
 'RAICHUR' 'ALAPPUZHA' 'ERNAKULAM' 'IDUKKI' 'KANNUR' 'KASARAGOD' 'KOLLAM'
 'KOTTAYAM' 'KOZHIKODE' 'MALAPPURAM' 'PALAKKAD' 'PATHANAMTHITTA'
 'THIRUVANANTHAPURAM' 'THRISSUR' 'WAYANAD' 'ANUPPUR' 'ASHOKNAGAR'
 'BALAGHAT' 'BARWANI' 'BETUL' 'BHIND' 'BHOPAL' 'BURHANPUR' 'CHHATARPUR'
 'CHHINDWARA' 'DAMOH' 'DATIA' 'DEWAS' 'DHAR' 'DINDORI' 'GUNA' 'GWALIOR'
 'HARDA' 'HOSHANGABAD' 'INDORE' 'JABALPUR' 'JHABUA' 'KATNI' 'KHANDWA'
 'KHARGONE' 'MANDLA' 'MANDSAUR' 'MORENA' 'NARSINGHPUR' 'NEEMUCH' 'PANNA'
 'RAISEN' 'RAJGARH' 'RATLAM' 'REWA' 'SAGAR' 'SATNA' 'SEHORE' 'SEONI'
 'SHAHDOL' 'SHAJAPUR' 'SHEOPUR' 'SHIVPURI' 'SIDHI' 'TIKAMGARH' 'UJJAIN'
 'UMARIA' 'VIDISHA' 'AHMEDNAGAR' 'AKOLA' 'AMRAVATI' 'BEED' 'BHANDARA'
 'BULDHANA' 'CHANDRAPUR' 'DHULE' 'GADCHIROLI' 'GONDIA' 'HINGOLI' 'JALGAON'
 'JALNA' 'KOLHAPUR' 'LATUR' 'NAGPUR' 'NANDED' 'NANDURBAR' 'NASHIK'
 'OSMANABAD' 'PARBHANI' 'PUNE' 'RAIGAD' 'RATNAGIRI' 'SANGLI' 'SATARA'
 'SOLAPUR' 'THANE' 'WARDHA' 'WASHIM' 'YAVATMAL' 'SINDHUDURG' 'SENAPATI'
 'BISHNUPUR' 'CHANDEL' 'CHURACHANDPUR' 'IMPHAL EAST' 'IMPHAL WEST'
 'TAMENGLONG' 'THOUBAL' 'UKHRUL' 'EAST GARO HILLS' 'EAST JAINTIA HILLS'
 'EAST KHASI HILLS' 'RI BHOI' 'SOUTH GARO HILLS' 'WEST GARO HILLS'
 'WEST KHASI HILLS' 'AIZAWL' 'CHAMPHAI' 'KOLASIB' 'LUNGLEI' 'MAMIT'
 'SAIHA' 'DIMAPUR' 'KOHIMA' 'MOKOKCHUNG' 'MON' 'PHEK' 'TUENSANG' 'WOKHA'
 'ZUNHEBOTO' 'ANUGUL' 'BALANGIR' 'BALESHWAR' 'BARGARH' 'BHADRAK' 'BOUDH'
 'CUTTACK' 'DEOGARH' 'DHENKANAL' 'GAJAPATI' 'GANJAM' 'JAGATSINGHAPUR'
 'JAJAPUR' 'JHARSUGUDA' 'KALAHANDI' 'KANDHAMAL' 'KENDRAPARA' 'KENDUJHAR'
 'KHORDHA' 'KORAPUT' 'MALKANGIRI' 'MAYURBHANJ' 'NABARANGPUR' 'NAYAGARH'
 'NUAPADA' 'RAYAGADA' 'SAMBALPUR' 'SONEPUR' 'SUNDARGARH' 'PURI' 'MAHE'
 'PONDICHERRY' 'KARAIKAL' 'YANAM' 'AMRITSAR' 'BATHINDA' 'FARIDKOT'
 'FATEHGARH SAHIB' 'FIROZEPUR' 'HOSHIARPUR' 'JALANDHAR' 'KAPURTHALA'
 'LUDHIANA' 'MOGA' 'MUKTSAR' 'NAWANSHAHR' 'PATIALA' 'RUPNAGAR' 'SANGRUR'
 'MANSA' 'GURDASPUR' 'AJMER' 'ALWAR' 'BANSWARA' 'BARAN' 'BHARATPUR'
 'BHILWARA' 'BIKANER' 'BUNDI' 'CHITTORGARH' 'DAUSA' 'DHOLPUR' 'DUNGARPUR'
 'GANGANAGAR' 'HANUMANGARH' 'JAIPUR' 'JAISALMER' 'JALORE' 'JHALAWAR'
 'KARAULI' 'KOTA' 'NAGAUR' 'PALI' 'RAJSAMAND' 'SAWAI MADHOPUR' 'SIKAR'
 'SIROHI' 'TONK' 'UDAIPUR' 'BARMER' 'CHURU' 'JHUNJHUNU' 'JODHPUR'
 'PRATAPGARH' 'EAST DISTRICT' 'NORTH DISTRICT' 'SOUTH DISTRICT'
 'WEST DISTRICT' 'COIMBATORE' 'DHARMAPURI' 'DINDIGUL' 'ERODE'
 'KANNIYAKUMARI' 'KARUR' 'KRISHNAGIRI' 'NAGAPATTINAM' 'NAMAKKAL'
 'PERAMBALUR' 'SALEM' 'THANJAVUR' 'THE NILGIRIS' 'THENI' 'THIRUVARUR'
 'TIRUCHIRAPPALLI' 'TIRUNELVELI' 'VIRUDHUNAGAR' 'CUDDALORE' 'KANCHIPURAM'
 'MADURAI' 'PUDUKKOTTAI' 'RAMANATHAPURAM' 'SIVAGANGA' 'THIRUVALLUR'
 'THOOTHUKUDI' 'TIRUVANNAMALAI' 'VELLORE' 'VILLUPURAM' 'DHALAI'
 'NORTH TRIPURA' 'SOUTH TRIPURA' 'WEST TRIPURA' 'AGRA' 'ALIGARH'
 'ALLAHABAD' 'AMBEDKAR NAGAR' 'AMROHA' 'AURAIYA' 'AZAMGARH' 'BAGHPAT'
 'BAHRAICH' 'BALLIA' 'BALRAMPUR' 'BANDA' 'BARABANKI' 'BAREILLY' 'BASTI'
 'BIJNOR' 'BUDAUN' 'BULANDSHAHR' 'CHANDAULI' 'CHITRAKOOT' 'DEORIA' 'ETAH'
 'ETAWAH' 'FAIZABAD' 'FARRUKHABAD' 'FATEHPUR' 'FIROZABAD'
 'GAUTAM BUDDHA NAGAR' 'GHAZIABAD' 'GHAZIPUR' 'GONDA' 'GORAKHPUR' 'HARDOI'
 'HATHRAS' 'JALAUN' 'JAUNPUR' 'JHANSI' 'KANNAUJ' 'KANPUR DEHAT'
 'KANPUR NAGAR' 'KAUSHAMBI' 'KHERI' 'KUSHI NAGAR' 'LALITPUR' 'LUCKNOW'
 'MAHARAJGANJ' 'MAHOBA' 'MAINPURI' 'MATHURA' 'MAU' 'MEERUT' 'MIRZAPUR'
 'MORADABAD' 'MUZAFFARNAGAR' 'PILIBHIT' 'RAE BARELI' 'RAMPUR' 'SAHARANPUR'
 'SANT KABEER NAGAR' 'SANT RAVIDAS NAGAR' 'SHAHJAHANPUR' 'SHRAVASTI'
 'SIDDHARTH NAGAR' 'SITAPUR' 'SONBHADRA' 'SULTANPUR' 'UNNAO' 'VARANASI'
 'CHAMOLI' 'CHAMPAWAT' 'DEHRADUN' 'HARIDWAR' 'NAINITAL' 'PAURI GARHWAL'
 'PITHORAGARH' 'RUDRA PRAYAG' 'TEHRI GARHWAL' 'UDAM SINGH NAGAR'
 'UTTAR KASHI' 'ALMORA' 'BAGESHWAR' '24 PARAGANAS NORTH'
 '24 PARAGANAS SOUTH' 'BANKURA' 'BIRBHUM' 'COOCHBEHAR' 'DARJEELING'
 'DINAJPUR DAKSHIN' 'DINAJPUR UTTAR' 'HOOGHLY' 'HOWRAH' 'JALPAIGURI'
 'MALDAH' 'MEDINIPUR EAST' 'MEDINIPUR WEST' 'MURSHIDABAD' 'NADIA'
 'PURBA BARDHAMAN' 'PURULIA' 'ANJAW' 'BAKSA' 'CHIRANG' 'KAMRUP METRO'
 'UDALGURI' 'NARAYANPUR' 'NORTH GOA' 'SOUTH GOA' 'MEWAT' 'PALGHAR'
 'LAWNGTLAI' 'SERCHHIP' 'S' 'TARN TARAN' 'Andaman and Nicobar Islands'
 'DELHI_TOTAL' 'TAPI' 'PALWAL' 'REASI' 'SAMBA' 'KISHTWAR' 'RAMBAN'
 'KULGAM' 'BANDIPORA' 'GANDERBAL' 'SHOPIAN' 'KHUNTI' 'RAMGARH'
 'RAMANAGARA' 'CHIKBALLAPUR' 'ALIRAJPUR' 'SINGRAULI' 'KIPHIRE' 'LONGLENG'
 'PEREN' 'BARNALA' 'TIRUPPUR' 'ARIYALUR' 'KASGANJ' 'BALOD' 'BALODA BAZAR'
 'BEMETARA' 'GARIYABAND' 'KONDAGAON' 'MUNGELI' 'SUKMA' 'SURAJPUR' 'YADGIR'
 'FAZILKA' 'PATHANKOT' 'GOMATI' 'KHOWAI' 'SEPAHIJALA' 'UNAKOTI' 'AMETHI'
 'HAPUR' 'SAMBHAL' 'SHAMLI' 'KRA DAADI' 'LONGDING' 'NAMSAI' 'SIANG' 'DIU'
 'DAMAN' 'ARAVALLI' 'BOTAD' 'CHHOTAUDEPUR' 'GIR SOMNATH' 'MAHISAGAR'
 'DEVBHUMI DWARKA' 'MORBI' 'CHARKI DADRI' 'AGAR MALWA' 'NORTH GARO HILLS'
 'SOUTH WEST GARO HILLS' 'SOUTH WEST KHASI HILLS' 'WEST JAINTIA HILLS'
 'ALIPURDUAR' 'KAMLE' 'LOWER SIANG' 'MUMBAI SUBURBAN' 'CHENNAI'
 'BHADRADRI' 'JAGITIAL' 'JANGOAN' 'JAYASHANKAR' 'JOGULAMBA' 'KAMAREDDY'
 'KOMARAM BHEEM ASIFABAD' 'MAHABUBABAD' 'MANCHERIAL' 'MEDCHAL' 'MULUGU'
 'NAGARKURNOOL' 'NARAYANAPET' 'NIRMAL' 'PEDDAPALLI' 'RAJANNA' 'SANGAREDDY'
 'SIDDIPET' 'SURYAPET' 'VIKARABAD' 'WANAPARTHY' 'WARANGAL URBAN' 'YADADRI'
 'JHARGRAM' 'PASCHIM BARDHAMAN' 'KALIMPONG' 'LEPARADA' 'PAKKE KESSANG'
 'SHI YOMI' 'BISWANATH' 'CHARAIDEO' 'HOJAI' 'MAJULI'
 'SOUTH SALMARA MANCACHAR' 'WEST KARBI ANGLONG' 'GAURELLA-PENDRA-MARWAHI'
 'BAGALKOTE' 'BALLARI' 'BELAGAVI' 'CHAMARAJANAGARA' 'CHIKKABALLAPURA'
 'CHIKKAMAGALURU' 'DAKSHINA KANNADA' 'MYSURU' 'SHIVAMOGGA' 'TUMAKURU'
 'UTTARA KANNADA' 'VIJAYAPURA' 'KALABURAGI' 'YADAGIRI' 'NIWARI'
 'SHAHID BHAGAT SINGH NAGAR' 'TUTICORIN' 'KALLAKURICHI' 'TENKASI'
 'TIRUPATHUR' 'CHENGALPATTU' 'RANIPET' 'HANUMAKONDA' 'MEDCHAL MALKAJGIRI'
 'THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU' 'HYDERABAD' 'MUMBAI']

In [14]:
agri_df['Area Units'].value_counts()

Area Units
Hectare    345407
Name: count, dtype: int64

In [22]:
unique_units = agri_df['Production Units'].unique()
unique_units

array(['Tonnes', 'Nuts', 'Bales'], dtype=object)

In [18]:
agri_df[agri_df['Production Units'] == 'Nuts']['Crop'].value_counts()

Crop
Coconut    2927
Name: count, dtype: int64

In [21]:
2*500

1000

In [23]:
def unit_normalization(df):
    
    if df['Production Units'] == 'Nuts':
        return np.round(df['Production']/500,0)
    
    elif df['Production Units'] == 'Tonnes':
        return df['Production']
    else:
        return np.round(df['Production']*0.2177243376,0)

In [25]:
agri_df['New_Production'] = agri_df.apply(unit_normalization,axis=1)
agri_df.sample(15)

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield,New_Production
192640,Karnataka,RAICHUR,Arhar/Tur,2015-16,Kharif,33623.0,Hectare,14246.0,Tonnes,0.423698,14246.0
158173,Maharashtra,SATARA,Wheat,2012-13,Rabi,35000.0,Hectare,58500.0,Tonnes,1.671429,58500.0
193835,Karnataka,SHIMOGA,Gram,2013-14,Rabi,47.0,Hectare,36.0,Tonnes,0.765957,36.0
335486,Tripura,DHALAI,Oilseeds total,2000-01,Whole Year,2323.0,Hectare,1860.0,Tonnes,0.800689,1860.0
177583,Andhra Pradesh,VISAKHAPATANAM,Moong(Green Gram),2014-15,Rabi,3670.0,Hectare,3009.0,Tonnes,0.819891,3009.0
18613,Madhya Pradesh,SAGAR,Bajra,2001-02,Kharif,3.0,Hectare,3.0,Tonnes,1.000000,3.0
248153,Madhya Pradesh,DHAR,Garlic,2017-18,Whole Year,15321.0,Hectare,158572.0,Tonnes,10.349977,158572.0
263273,Tamil Nadu,ARIYALUR,Groundnut,2016-17,Rabi,5091.0,Hectare,22652.0,Tonnes,4.449421,22652.0
133840,Assam,TINSUKIA,Gram,2011-12,Rabi,7.0,Hectare,5.0,Tonnes,0.714286,5.0
250745,Madhya Pradesh,DAMOH,Sugarcane,2017-18,Whole Year,600.0,Hectare,1500.0,Tonnes,2.500000,1500.0
115673,Punjab,JALANDHAR,Linseed,2008-09,Rabi,100.0,Hectare,100.0,Tonnes,1.000000,100.0
307888,Bihar,GOPALGANJ,Sesamum,1998-99,Kharif,2.0,Hectare,1.0,Tonnes,0.500000,1.0
314787,Karnataka,KOLAR,Horse-gram,1998-99,Rabi,5426.0,Hectare,3320.0,Tonnes,0.611869,3320.0
58164,Karnataka,BELLARY,Groundnut,2006-07,Kharif,58136.0,Hectare,13118.0,Tonnes,0.225643,13118.0
238420,Gujarat,SURENDRANAGAR,Sugarcane,2016-17,Whole Year,20.0,Hectare,1437.0,Tonnes,71.850000,1437.0

In [27]:
agri_df[agri_df['Production Units'] == 'Bales']

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield,New_Production
546,Andhra Pradesh,ADILABAD,Cotton(lint),2001-02,Kharif,175552.0,Hectare,270557.0,Bales,1.541179,58907.0
547,Andhra Pradesh,ADILABAD,Cotton(lint),2002-03,Kharif,162008.0,Hectare,171538.0,Bales,1.058824,37348.0
548,Andhra Pradesh,ADILABAD,Cotton(lint),2003-04,Kharif,145297.0,Hectare,288030.0,Bales,1.982353,62711.0
549,Andhra Pradesh,ANANTAPUR,Cotton(lint),2001-02,Kharif,8552.0,Hectare,9055.0,Bales,1.058817,1971.0
550,Andhra Pradesh,ANANTAPUR,Cotton(lint),2002-03,Kharif,7638.0,Hectare,7144.0,Bales,0.935323,1555.0
...,...,...,...,...,...,...,...,...,...,...,...
344181,West Bengal,PURBA BARDHAMAN,Mesta,1999-00,Kharif,316.0,Hectare,3060.0,Bales,9.683544,666.0
344182,West Bengal,PURBA BARDHAMAN,Mesta,2000-01,Kharif,126.0,Hectare,720.0,Bales,5.714286,157.0
344183,West Bengal,PURULIA,Mesta,1997-98,Kharif,387.0,Hectare,3440.0,Bales,8.888889,749.0
344184,West Bengal,PURULIA,Mesta,1999-00,Kharif,120.0,Hectare,1160.0,Bales,9.666667,253.0
344185,West Bengal,PURULIA,Mesta,2000-01,Kharif,86.0,Hectare,230.0,Bales,2.674419,50.0

In [29]:
agri_df = agri_df.drop(['Production','Production Units','Area Units'],axis=1)

In [30]:
agri_df

,State,District,Crop,Year,Season,Area,Yield,New_Production
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,1.643541,2061.0
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,1.655803,2083.0
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,1.209358,1525.0
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,1.690000,5239.0
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,1.696296,5267.0
...,...,...,...,...,...,...,...,...
345402,Manipur,IMPHAL WEST,NaN,2019-20,Rabi,NaN,NaN,NaN
345403,Manipur,SENAPATI,NaN,2019-20,Rabi,NaN,NaN,NaN
345404,Manipur,TAMENGLONG,NaN,2019-20,Rabi,NaN,NaN,NaN
345405,Manipur,THOUBAL,NaN,2019-20,Rabi,NaN,NaN,NaN
345406,Manipur,UKHRUL,NaN,2019-20,Rabi,NaN,NaN,NaN

###### Statewise total production of Crops

In [33]:
agri_df.loc[agri_df['State']=='Haryana','New_Production'].sum()

559725205.0

In [35]:
total_production_list = []

for s in unique_state_list:
    total_production_list.append(agri_df.loc[agri_df['State']==s, 'New_Production'].sum())

In [46]:
crop_prod_statewise = pd.DataFrame({'State':unique_state_list,
                                    'Total Crop Production' : total_production_list})
crop_prod_statewise.sort_values('Total Crop Production',ascending=False).head()

             State  Total Crop Production
31   Uttar Pradesh           4.442549e+09
19     Maharashtra           1.790382e+09
16       Karnataka           1.187931e+09
29      Tamil Nadu           1.176881e+09
1   Andhra Pradesh           8.677007e+08

In [43]:
up_district_list = agri_df[agri_df['State'] == 'Uttar Pradesh']['District'].unique()

In [48]:
agri_df.loc[agri_df['District']=='AGRA', 'New_Production'].sum()

46485122.1

In [49]:
up_total_production_list = []

for d in up_district_list:
    up_total_production_list.append(agri_df.loc[agri_df['District']==d, 'New_Production'].sum())
    

up_crop_prod_districtwise = pd.DataFrame({'District':up_district_list,
                                    'Total Crop Production' : up_total_production_list})
up_crop_prod_districtwise.sort_values('Total Crop Production',ascending=False).head()

         District  Total Crop Production
42          KHERI            348727660.0
54  MUZAFFARNAGAR            343747615.3
15         BIJNOR            325185349.0
51         MEERUT            221360679.1
59     SAHARANPUR            204619974.2

###### Which State is highest producer of Rice for total production since 1997 ?

In [51]:
agri_rice_df = agri_df[agri_df['Crop'] == 'Rice']
agri_rice_df

,State,District,Crop,Year,Season,Area,Yield,New_Production
41,Andaman and Nicobar Islands,NICOBARS,Rice,2001-02,Kharif,83.0,3.614458,300.00
42,Andaman and Nicobar Islands,NICOBARS,Rice,2002-03,Kharif,189.2,2.700000,510.84
43,Andaman and Nicobar Islands,NICOBARS,Rice,2003-04,Kharif,52.0,1.734038,90.17
44,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Rice,2001-02,Kharif,9718.0,2.781745,27033.00
45,Andaman and Nicobar Islands,SOUTH ANDAMANS,Rice,2002-03,Kharif,10695.8,2.954507,31600.82
...,...,...,...,...,...,...,...,...
344825,West Bengal,PURULIA,Rice,1999-00,Summer,3576.0,2.418904,8650.00
344826,West Bengal,PURULIA,Rice,1999-00,Winter,294107.0,1.821038,535580.00
344827,West Bengal,PURULIA,Rice,2000-01,Autumn,2632.0,0.995441,2620.00
344828,West Bengal,PURULIA,Rice,2000-01,Summer,1023.0,2.398827,2454.00
344829,West Bengal,PURULIA,Rice,2000-01,Winter,258531.0,1.817616,469910.00

In [56]:
rice_growing_states = agri_rice_df['State'].unique()


total_rice_production = []

for s in rice_growing_states:
    total_rice_production.append(agri_rice_df.loc[agri_rice_df['State']==s,'New_Production'].sum())
    
rice_growing_states_df = pd.DataFrame({'State':rice_growing_states,
                                      'Total_Rice_Production': total_rice_production})

In [58]:
rice_growing_states_df.sort_values('Total_Rice_Production',ascending=False).head()

             State  Total_Rice_Production
33     West Bengal            338984869.0
31   Uttar Pradesh            296108280.0
26          Punjab            243042000.0
1   Andhra Pradesh            239361201.0
24          Odisha            153257182.0

###### Best Year for Agriculture

In [60]:
unique_year_list = agri_df['Year'].unique()

In [62]:
year_production_list = []

for yr in unique_year_list:
    year_production_list.append(agri_df.loc[agri_df['Year']==yr,'New_Production'].sum())

In [64]:
yearly_prod_df = pd.DataFrame({'Year':unique_year_list,
                              'total crop production':year_production_list})
yearly_prod_df.sort_values('total crop production',ascending=False).head()

       Year  total crop production
18  2019-20           8.862668e+08
17  2018-19           8.702666e+08
16  2017-18           8.562150e+08
12  2013-14           7.836559e+08
15  2016-17           7.802788e+08

In [65]:

yearly_prod_df.sort_values('total crop production',ascending=True).head()

       Year  total crop production
19  2020-21           1.017723e+07
21  1997-98           4.575321e+08
3   2004-05           5.312554e+08
1   2002-03           5.444926e+08
22  1998-99           5.523613e+08