Strings, list, tuples, built-in iterables for dictionaries (keys and values)

In [1]:
#1 Iterating through a list

l1 = [1,2,3,4,5,6,7,8,9]

for num in l1:
    print(num**2)

1
4
9
16
25
36
49
64
81

In [2]:
l1 = [1,2,3,4,5,6,7,8,9]

for num in l1:
    print('hi'*2)

hihi
hihi
hihi
hihi
hihi
hihi
hihi
hihi
hihi

#### Modulo

In [3]:
17%5

2

In [4]:
for num in l1:
    if num%2 == 0:
        print(f'{num} is even number')
    else:
        print(f'This is an odd number: {num}')

This is an odd number: 1
2 is even number
This is an odd number: 3
4 is even number
This is an odd number: 5
6 is even number
This is an odd number: 7
8 is even number
This is an odd number: 9

In [5]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list_sum = 0

for num in l1:
    list_sum = list_sum + num

In [7]:
list_sum

45

In [8]:
list_sum_alt = 0

for num in l1:
    list_sum_alt += num

In [9]:
list_sum_alt

45

In [10]:
#1 Iterating through a string

for letter in 'Some string':
    print(letter)

S
o
m
e

s
t
r
i
n
g

In [11]:
for letter in 'Some string':
    print(letter.upper())

S
O
M
E

S
T
R
I
N
G

In [12]:
for w in 'Some string'.split():
    print(w)

Some
string

In [13]:
'Some string'.split()

['Some', 'string']

In [14]:
#3 Tuples

tup = (1,2,3,4,5)

for t in tup:
    print(t+3)

4
5
6
7
8

In [15]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
sq_list = []

for num in l1:
    new_num = num**2
    sq_list.append(new_num)

In [17]:
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
sq_list = []

for num in l1:

    sq_list.append(num**2)

In [19]:
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
# List of Tuples / Tuple Unpacking

l2 = [(2,4),(6,8),(10,12)]

for tup in l2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [21]:
for t1,t2 in l2:
    print(t1+t2)

6
14
22

In [23]:
list(enumerate([1,2,3,4,'hi','hello']))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 'hi'), (5, 'hello')]

In [24]:
for i,e in enumerate([1,2,3,4,'hi','hello']):
    print(f'At index {i}, the element is {e}')

At index 0, the element is 1
At index 1, the element is 2
At index 2, the element is 3
At index 3, the element is 4
At index 4, the element is hi
At index 5, the element is hello

In [25]:
# Dictionaries

In [30]:
d = {'k1':1,
    'k2':['hi',23.65],
    'k3':3}

In [31]:
for item in d:
    print(item)

k1
k2
k3

In [32]:
d.items()

dict_items([('k1', 1), ('k2', ['hi', 23.65]), ('k3', 3)])

In [33]:
for k,v in d.items():
    print(f'The key {k} has value {v}')

The key k1 has value 1
The key k2 has value ['hi', 23.65]
The key k3 has value 3

In [34]:
for v in d.values():
    print(v)

1
['hi', 23.65]
3

In [35]:
d.values()

dict_values([1, ['hi', 23.65], 3])

In [37]:
for k in d.keys():
    print(k)

k1
k2
k3

## Exercises

# 1

Given this list of student scores: [85,78,65,92,45,64,76,80,78,95], categorize them into:

1. A [90-100]
2. B [80-89]
3. C [70-79]
4. D [60-69]
5. E < 60

In [44]:
scores =  [85,78,65,92,45,64,76,80,78,95,34,87,45,76,82,78,43,54,76,98]
grade_categorization = {'A':[],
                       'B':[],
                       'C':[],
                       'D':[],
                       'E':[]}
for s in scores:
    if s >= 90:
        grade_categorization['A'].append(s)
    elif s >= 80:
        grade_categorization['B'].append(s)
    elif s >= 70:
        grade_categorization['C'].append(s)
    elif s >= 60:
        grade_categorization['D'].append(s)
    else:
        grade_categorization['E'].append(s)

In [45]:
grade_categorization

{'A': [92, 95, 98],
 'B': [85, 80, 87, 82],
 'C': [78, 76, 78, 76, 78, 76],
 'D': [65, 64],
 'E': [45, 34, 45, 43, 54]}

# 2

Given a string, create dictionary with two keys: 'vowels' and 'consonants'

Ignore case and non-alphabetic characters

In [48]:
'helo!@@'.isalpha()

False

In [61]:
s = input('Enter your string here: ')

d = {'vowels' :[],
     'consonants' : [],
     'others' : []
    }

for char in s:
    if char.isalpha():
        if char.lower() in 'aeiou':
            d['vowels'].append(char)
        else:
            d['consonants'].append(char)
    else:
        d['others'].append(char)
            
print(f"\n\nThe vowels are {d['vowels']}\nThe consonants are {d['consonants']}\nOther characters are {d['others']}")

Enter your string here: My name is Shreyas Shukla. He's my friend


The vowels are ['a', 'e', 'i', 'e', 'a', 'u', 'a', 'e', 'i', 'e']
The consonants are ['M', 'y', 'n', 'm', 's', 'S', 'h', 'r', 'y', 's', 'S', 'h', 'k', 'l', 'H', 's', 'm', 'y', 'f', 'r', 'n', 'd']
Other characters are [' ', ' ', ' ', ' ', '.', ' ', "'", ' ', ' ']

# 3

Write a program that checks if a password has atleast 8 characters, 1 uppercase, 1 digit and 1 special characters (@#$%&*.,)

In [67]:
password = input('Enter your password here: ')

has_upper = False
has_digit = False
has_sc = False

if len(password) < 8:
    print('Invalid Password')
elif len(password.split()) > 1:
    print('Invalid Password. Try removing space')
else:
    for char in password:
        if 'A' <= char <= 'Z': #char.isupper() == True
            has_upper = True
        elif '0' <= char <= '9': #char.isnum() == True
            has_digit = True
        elif char in '@#$%&*.,':
            has_sc = True
    if has_upper and has_digit and has_sc:
        print('Valid Password')
    else:
        print('Invalid')

Enter your password here: khjakcfgkjwdsOGGH@#998
Valid Password