# 1

Write a Program that prints from 1 to 100 and for multiple of 3, it prints 'Shreyas' instead, for multiple of 7, it prints 'IITr'and for multiples of 3 and 7, it prints 'DAPP'

In [1]:
for num in range(1,101):
    if num % 3 == 0 and num % 7 == 0:
        print('DAPP')
    elif num %3 == 0:
        print('Shreyas')
    elif num %7 == 0:
        print('IITr')
    else:
        print(num)

1
2
Shreyas
4
5
Shreyas
IITr
8
Shreyas
10
11
Shreyas
13
IITr
Shreyas
16
17
Shreyas
19
20
DAPP
22
23
Shreyas
25
26
Shreyas
IITr
29
Shreyas
31
32
Shreyas
34
IITr
Shreyas
37
38
Shreyas
40
41
DAPP
43
44
Shreyas
46
47
Shreyas
IITr
50
Shreyas
52
53
Shreyas
55
IITr
Shreyas
58
59
Shreyas
61
62
DAPP
64
65
Shreyas
67
68
Shreyas
IITr
71
Shreyas
73
74
Shreyas
76
IITr
Shreyas
79
80
Shreyas
82
83
DAPP
85
86
Shreyas
88
89
Shreyas
IITr
92
Shreyas
94
95
Shreyas
97
IITr
Shreyas
100

In [2]:
#THIS IS WRONG. 21 will never check for 2nd condition
for num in range(1,101):
    if num % 3 == 0:
        print('Shreyas')
    elif num %3 == 0  and num % 7 == 0:
        print('DAPP')
    elif num %7 == 0:
        print('IITr')
    else:
        print(num)

1
2
Shreyas
4
5
Shreyas
IITr
8
Shreyas
10
11
Shreyas
13
IITr
Shreyas
16
17
Shreyas
19
20
Shreyas
22
23
Shreyas
25
26
Shreyas
IITr
29
Shreyas
31
32
Shreyas
34
IITr
Shreyas
37
38
Shreyas
40
41
Shreyas
43
44
Shreyas
46
47
Shreyas
IITr
50
Shreyas
52
53
Shreyas
55
IITr
Shreyas
58
59
Shreyas
61
62
Shreyas
64
65
Shreyas
67
68
Shreyas
IITr
71
Shreyas
73
74
Shreyas
76
IITr
Shreyas
79
80
Shreyas
82
83
Shreyas
85
86
Shreyas
88
89
Shreyas
IITr
92
Shreyas
94
95
Shreyas
97
IITr
Shreyas
100

# 2

Print this:

*
$*
*$*
$*$*
*$*$*

In [13]:
n = 4

for i in range(1, n+1):
    row = []
    symbol = '%' if i%2 == 1 else '$'
    for j in range(i):
        row.append(symbol)
        symbol = '$' if symbol == '%' else '%'
    print(''*(n-i)+" ".join(row))

%
$ %
% $ %
$ % $ %

In [15]:
n = 7

for i in range(1, n+1):
    row = []
    symbol = '%' if i%2 == 1 else '$'
    for j in range(i):
        row.append(symbol)
        symbol = '$' if symbol == '%' else '%'
    print(row)

['%']
['$', '%']
['%', '$', '%']
['$', '%', '$', '%']
['%', '$', '%', '$', '%']
['$', '%', '$', '%', '$', '%']
['%', '$', '%', '$', '%', '$', '%']

In [17]:
' '.join(['%', '$', '%', '$', '%', '$', '%'])

'% $ % $ % $ %'

In [ ]:
# n = 4 (We want 4 rows in the pattern)

# for i in range(1, n+1): (i represnts the row number)

# row = [] (empty list to store symbols for this row)

# symbol = '%' if i%2 == 1 else '$' (if the row number is odd -> start with % else start with $)

# for j in range(i):
      #  row.append(symbol)
      #  symbol = '$' if symbol == '%' else '%'
        
        # (Goes i times )
        
# ''*(n-i)+" ".join(row) [''*(n-1) -> adds spaces in front to make aligned like a triangle]

#[" ".join(row)]

# 3

n = 5

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [27]:
n = 7

for i in range(1,n+1):
    row = []
    for j in range(i):
        if i%2 == 1:
            row.append('1' if j % 2 == 0 else '0')
        else:
            row.append('0' if j % 2 == 0 else '1')
    print(' '.join(row))

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1
0 1 0 1 0 1
1 0 1 0 1 0 1

# 4

###### Generate a list of numbers from 1 to N where: The number is 'prime' if its odd and'even' if its not prime. Use 'for' loops and 'if/elif/else' to create the list

In [36]:
n = int(input('Enter your number: '))

result = []

for num in range(1,n+1):
    is_prime = True
    if num > 1:
        for i in range(2, int(num**0.5)+1):
            if num% i == 0:
                is_prime = False
                break
        if is_prime == True and num%2 == 1:
            result.append(num)
        elif not is_prime == True and num%2 == 0:
            result.append(num)
print(result)

Enter your number: 30
[3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 23, 24, 26, 28, 29, 30]